body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.notification-container {
    display: flex;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: white;
}
.left-panel {
    background:#14121E;
    color: white;
    padding: 20px;
    width: 40%;
}
.left-panel h2 {
    margin: 0;
}
.left-panel ul {
    padding: 0;
    list-style: none;
}
.right-panel {
    width: 60%;
    padding: 20px;
    background:black
}
.tabs {
    display: flex;
    gap: 20px;
}
.tab {
    padding: 5px 10px;
    background: #fafafa;
    border-radius: 5px;
    position: relative;
}
.tab .badge {
    background: red;
    color: rgb(196, 243, 212);
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: -5px;
}
.notification {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    color: #14121e;;
    font-weight: bold;
    
}
.success {
    background: #ffefef;
}
.error {
    background: #ffefef;
}
.retry{
    background:#ffefef;
}

@media screen {display :grid-row :;
    
}