.overall{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.landing{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 600px;
    margin-left: 50px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #14121e;
    
}
.logo{
    width: 100px;
    height: 80px;
    z-index: 1;
}
.background-image{
    width:560px;
    height: 600px;
    border-radius: 15px;
}
.company{
    margin-right: 60px;
    margin-left: -60px;
}
.home, .jobs{
    margin-left: -60px;
    margin-right: 250px;
}
.home:hover, .jobs:hover, .company:hover{
    text-decoration: underline;
    cursor: pointer;
}
.firstp{
    color: black;
    font-size: 35px;
    font-weight: bold;
    display: block;
    width: 290px;
}
.secondp{
    color: black;
    display: block;
}
button{
    color: white;
    background-color: #14121e;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
button:hover{
    opacity: 0.5;
    cursor: pointer;
}
.paragraph{
    margin-top: 150px;
    margin-left: 50px;
}
.access{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.select{
    color: black;
    text-align: center;
    font-weight: bold;
}
#menu{
    margin-left: 15px;
    padding: 5px;
}
.browse{
    display: flex;
    justify-content: center;
}
.option1, .option2, .option3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}
.body1{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 40px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
.image1{
    width: 280px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.container{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 280px;
    position: relative;
    padding-bottom: 10px;
}
.writing{
    font-weight: bold;
    text-align: center;
    z-index: 1;
}
.register{
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.container .register{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 20;
    margin-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
}
.container .register:hover{
    opacity: 1;
    cursor: pointer;
    width: 200px;
    background-color: rgb(255, 255, 255);
}
.register:hover{
    text-decoration: underline;
}
.footer{
    background-color: rgb(220, 216, 216);
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 40px;
}
.copyright{
    text-align: center;
}
input{
    margin-bottom: 20px;
    padding: 5px;
}
#first, #second, #user, #email, #password{
    width: 220px;
}
.form{
    width: 250px;
    height: 480px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 485px;
    padding-right: 5px;
    margin-bottom: 20px;
}
label{
    font-weight: bold;
}
#submit{
    background-color: white;
    color: rgb(46, 123, 210);
    font-weight: bold;
    border-color: rgb(46, 123, 210);
    border-style: solid;
    padding: 5px;
    border-radius: 14px;
}
#submit:hover{
    background-color: rgb(46, 123, 210);
    color: white;
    cursor: pointer;
    transition:  0.15s;
}
.link{
    color: rgb(46, 123, 210);
}
@media(max-width: 425px){
    .header{
        width: 100px;
        margin-right: -50px;
    }
    .logo{
        width: 70px;
        margin-right: 10px;
        margin-left: -12px;
    }
    .background-image{
        width: 100%;
        margin-left: -100px;
    }
    .header{
        width: 100px;
    }
    .home{
        margin-right: 0px;
        margin-left: 5px;
        font-size: 12px;
    }
    .paragraph{
        width: 250px;
    }
    .firstp{
        width: 100px;
        font-size: 15px;
    }
    .secondp{
        width: 120px;
        font-size: 10px;
    }
    button{
        width: 50px;
        font-size: 10px;
        border-radius: 16px;
        height: 22px;
    }
    .overall{
        display: flex;
        flex-direction: column;
    }
    .landing{
        margin-left: -40px;
        margin-right: 40px;
    }
}
@media(min-width:751px) and (max-width:999px){
    
        
    }
